<div class="container">
    <h1 style="font-family:Avenir; margin-bottom: 40px;">Core Expertise</h1>
    <div style="display:flex;">
        <div class="coreTop" (click)="core(0)">
           <p>CFO</p>
           <p style="margin-bottom:0px;">Treasure</p>
           <p>Controller</p>
        </div>
        <div class="coreTop" (click)="core(1)">
            <p>COO</p>
            <p style="margin-bottom:0px;">Head of Operations</p>
            <p>Middle Office Operations</p>
         </div>
         <div class="coreTop" (click)="core(2)">
            <p>CCO</p>
            <p style="margin-bottom:0px;">Compiliance</p>
            <p>Oversight</p>
         </div>
    </div>

    <div style="display:flex;">
        <div class="coreMiddle" (click)="core(3)">
           <p>HEAD OF TAX</p>
           <p style="margin-bottom:0px;">Tax Strategy</p>
           <p>Tax Compliance</p>
        </div>
        <div class="coreMiddle" (click)="core(4)">
            <p>HEAD OF FUND ADMINISTRATION</p>
            <p style="margin-bottom:0px;">Fund Accounting</p>
            <p>Financial Reporting</p>
         </div>
         <div class="coreMiddle" (click)="core(5)">
            <p>HEAD OF SALES & DISTRIBUTION</p>
            <p style="margin-bottom:0px;">Institutional Sales</p>
            <p>Marketing & Communications</p>
         </div>
    </div>

    <div style="display:flex;">
        <div class="coreLast" (click)="core(6)">
           <p>HEAD OF PRODUCT MANAGEMENT</p>
           <p style="margin-bottom:0px;">Product Specialist</p>
           <p>Product Manager</p>
        </div>
        <div class="coreLast" (click)="core(7)">
            <p>HEAD OF RISK</p>
            <p style="margin-bottom:0px;">Performance Analytics</p>
            <p>Portfolio Analytics</p>
         </div>
         <div class="coreLast" (click)="core(8)">
            <p>HEAD OF HUMAN RESOURCES</p>
            <p style="margin-bottom:0px;">Head of Human Resources</p>
            <p>Generalist</p>
         </div>
    </div>
      
</div>
