<div class="contact_me">
    <input [(ngModel)]="contactInfo.email" #email="ngModel" class="form-control" name="email" id="email" type="text" placeholder="E-mail" />
    <input id="subject" class="form-control"   
    [(ngModel)]="contactInfo.subject"  #subject="ngModel" name="subject" type="text" placeholder=" Subject" />
    <textarea class="form-control"  id="message" #message="ngModel" name="message" [(ngModel)]="contactInfo.message" cols="40" rows="5" placeholder="Message... "></textarea>
    <button (click)="submit()"  type="button" class="btn btn-secondary" id="send_email">Send</button>
    
</div>  