.content_title{
    font-family: Avenir;
    color: #676767;
}
.content_subTitle{
    font-family: Avenir;
    margin-top:30px;
    margin-bottom:30px;
}
.section_container {
    margin-top:30px;
}
.list_container {
    max-width:800px; 
    border-style: solid; 
    border-color: gray; 
    background: rgba(163,168,255,.3);
    margin-top:30px;
    margin-bottom:30px;
    padding:20px;
}
li {
    margin-bottom: 10px;
}


