<div class="container" style="margin-top: 10px; margin-bottom: 70px;">
    <h2 style="text-align: center; margin-bottom: 50px; margin-top: 50px;">Approach</h2>
  <div class="row">
    <div class="col">
      <h1 style="text-align: right;">Smart,<br>
        Organized<br>
        &amp; Strategic</h1>
    </div>
    <div class="col">
      <div style="margin-left: 40px;">
        <p>
          MJE Advisors has established longstanding relationships with many of the leading asset managers representing the investment management industry.  We work closely with our clients to develop a tailored search solution to best determine market dynamics and establish the best path forward.  Our approach is detailed, insightful and effective giving our clients a unique view across a diverse candidate pool from a variety of asset managers and locations.

        </p>

  
        <p>
            Our collaborative approach utilizes every available resource throughout our organization.  We have a deep bench of professionals focused on delivering a best in class search experience for our clients and candidates.  Our team works closely together to establish strategy, research, pipeline and execution to uncover every path forward to a successful hire. 
        </p>  
            
        <p>  
            Our ability to build these long-term relationships is rooted in our consistency and longevity. The senior members of the MJE team have over 50 years of combined experience servicing the mutual fund, institutional asset management and alternative fund industries, allowing us to understand the complexities of the competitive hiring landscape. MJE offers detailed, collaborative, and definitive solutions to complicated and competitive searches, with a focus on making productive and enduring connections between the right people.
        </p>
      </div>

    </div>
  </div>
</div>
