<div class="container">
    <h1 style="font-family:Avenir; margin-bottom: 40px; padding-top:100px;">Expertise</h1>
    <div class="coreBox">
        <div class="coreTop" (click)="core(0)">
           <p class="core_title">CFO</p>
           <p style="margin-bottom:0px;" >Fund Treasurer</p>
           <p style="margin-bottom:0px;">Senior Controller</p>
           <p style="margin-bottom:0px;" >Finacial Reporting</p>
          
        </div>
        <div class="coreTop" (click)="core(2)">
                <p class="core_title">CCO</p>
                <p style="margin-bottom:0px;">General Counsel </p>
                <p style="margin-bottom:0px;">Compliance</p>
                <p style="margin-bottom:0px;">Legal</p>
        </div>
        <div class="coreTop" (click)="core(1)">
            <p class="core_title">COO</p>
            <p style="margin-bottom:0px;">Head of Operations</p>
            <p style="margin-bottom:0px;">Middle Office Operations</p>
            <p style="margin-bottom:0px;">Back Office Operations</p>
         </div>
        
    </div>

    <div class="coreBox">
        <div class="coreMiddle" (click)="core(3)">
           <p class="core_title">HEAD OF TAX</p>
           <p style="margin-bottom:0px;">Tax Attorney</p>
           <p style="margin-bottom:0px;">Tax Compliance</p>
           <p style="margin-bottom:0px;">Tax Strategy</p>

           <!-- <p>Tax Compliance</p> -->
        </div>
        <div class="coreMiddle" (click)="core(5)">
                <p class="core_title">AUDIT PARTNER</p>
                <p style="margin-bottom:0px;">Tax Partner</p>
                <p style="margin-bottom:0px;">Director</p>
                <p style="margin-bottom:0px;">Senior Manager</p>
             </div>
        <div class="coreMiddle" (click)="core(4)">
            <p class="core_title">HEAD OF FUND ADMINISTRATION</p>
            <p style="margin-bottom:0px;">Fund Accounting</p>
            <p style="margin-bottom:0px;">Financial Reporting</p>
            <p style="margin-bottom:0px;">Investor Services</p>
         </div>
         
    </div>

    <div class="coreBox">
            <div class="coreLast" (click)="core(7)">
                    <p class="core_title">HEAD OF SALES</p>
                    <p style="margin-bottom:0px;">Fund Administration</p>
                    <p style="margin-bottom:0px;">Institutional </p>
                    <p >Technology</p>
                 </div>
        
       
         <div class="coreLast" (click)="core(8)">
            <p class="core_title">HEAD OF PERFORMANCE</p>
            <p style="margin-bottom:0px;">Performance Attribution</p>
            <p style="margin-bottom:0px;">Performance Measurement</p>
            <p>GIPS</p>
         </div>

         <div class="coreLast" (click)="core(6)">
                <p class="core_title">HEAD OF PRODUCT MANAGEMENT</p>
                <p style="margin-bottom:0px;">Product Developement</p>
                <p style="margin-bottom:0px;">Product Management</p>
                <p>Product Specialist</p>
               
             </div>
    </div>
      
</div>
