<div class="whatWeDoContainer">
  
      <h1 class="whatWeDoTitle">What We Do </h1>
      <hr class="hero-banner__separator">
      <div class="container">

          <p  style=" font-family:Avenir; color:white;  font-size:1.5em; margin-top: 50px;">With over 50 years of search experience, MJE Advisors has successfully partnered with the Mutual Fund and Alternative Investment industry placing over 3000 professionals nationally.  We work closely with our clients to implement customized search solutions to identify, develop and deliver the industry’s top experienced professionals.

            </p>

      </div>
     
</div>
<!-- <div class="container" style="display:flex;background-color:#F5F7F9; height:300px; position:relative; bottom: 140px;">
   -->
 <div class="container statsContainer" >
    <div class="row statsRow">
      <div class="col-4 stats">

        <span class="number"> 2003 </span>

      </div>
      <div  class="col-4 stats">
        <span class="number"> 50 </span>   
      </div>
      <div  class="col-4 stats">
          <span class="number"> 3000+ </span>
      </div>
    </div>

    <div class="row">
        <div  class="col-4 whatWeDoCol">
          <span class="whatWeDoText">FOUNDED IN</span>
        </div>
        <div class="col-4 whatWeDoCol">

            <span class="whatWeDoText">
              YEARS OF EXECUTIVE SEARCH EXPERIENCE 
            </span>

        </div>
        <div class="col-4 whatWeDoCol">
            <span class="whatWeDoText">
              COMPLETED SEARCHES
            </span>
        </div>
    </div>
  </div>
    
  

   

<!-- </div> -->