<div class="container" >
      <div class="section_container">
        <h2 class="content_title" style="text-align: center; font-weight:bold;"> EXPERTISE </h2>
        <div style="margin-top:50px;" class="row">
          <div class="col">
            <div style="width:90%;">

                <p  style=" font-family:Avenir;  font-size:1.5em; margin-top: 50px;">With over 40 years of search experience, MJE Advisors has successfully partnered with the Mutual Fund and Alternative Investment industry placing over 2000 professionals nationally.  We work closely with our clients to implement customized search solutions to identify, develop and deliver the industry’s top experienced professionals.

                  </p>
        


            </div>
             
          </div>
          <div class="col">
            <div style="width:90%;">
                <p class="content_title" style=" font-weight:bold;">PRACTICE AREAS</p>

                <ul style="font-family:Avenir;  font-size:1.5em;">
                  <li>Accounting, Tax, Finance</li>
                  <li> Compliance and Legal</li>
                  <li> Business Development, Institutional, Retail</li>
                  <li>Operations, Middle Office, Back Office</li>
                  <li>Performance, GIPS, Reporting</li>
                  <li>Product</li>
                  <li>Risk and Quant</li>
                </ul>
            </div>
           

          </div>
        </div>
       
         
      </div>
  </div>
