<div class="container" >
      <div class="section_container">
        <h2 class="content_title">Why MJE</h2>
        <h4 class="content_subTitle">By aligning our interests with those of our clients, MJE Advisors has successfully conducted searches throughout the investment management industry for over 20 years.</h4>
        
        <p class="content_sub_subTitle">Industry Relationships<p>
        <p>We are a specialized firm of 5 professionals with affiliate offices nationwide focusing on the investment management industry.  Our search engagements expand throughout the alternative and traditional space with a core expertise among the following practice areas:
        </p>

        <p class="content_sub_subTitle">Integrated Team Approach</p>
        
        <p>MJE fully leverages our intellectual knowledge base through our proprietary database, deep industry contacts and firm-wide collaboration.  Over the years we have made a concentrated effort to build a highly professional team of executive recruiters with broad-ranging advisory expertise and search execution methodology.  Our clients recognize that we offer a collaborative understanding of their hiring objectives to provide successful solutions to all search assignments.</p>

        <p class="content_sub_subTitle">Candidate In-flows</p>
        <p>Given our investment management specialization, we are often a “first contact” among industry professionals looking to make a career transition.  Candidates recognize that our senior staff operates with integrity, prudence and a vision towards creating long-term relationships.  On behalf of our clients, we continually refresh our candidate pool with high quality professionals who are open to new challenges and responsibilities.</p>
        
        <p class="content_sub_subTitle">Evaluation</p>
        <p>MJE Advisors takes an in-depth approach to candidate identification and evaluation giving us the proven ability to assess and recommend qualified professionals.  Our senior recruiters have interviewed and partnered with thousands of investment industry executives and provide an informed and detailed description of their professional attributes when advising clients on selecting the right talent.  MJE Advisors has developed a global perspective on the specific skills and attributes that define top performing investment industry executives, with the goal of constantly improving the hiring process for our clients.</p>
        
      </div>
  </div>
