<div class="row">
  <div class="col">
      <div class="contact_us">

          <div><h2>CONTACT</h2></div>

      </div>
  </div>
</div>



<div class="container" style="margin-top: 100px; margin-bottom: 50px; ">
    <a name="linkToEmail"> <h2 style="font-family:Avenir;"></h2> </a> 
     <div class="row" style="margin-top:30px;">
       <div class="col-sm-12 col-md-4 col-lg-4">
            <h2>New York</h2>
            <p>521 Fifth Avenue, Suite 1620<br>
              New York, NY 10175<br>
              212.682.8400</p>

                 <div (click)="openDialog()" class="contact_button">CONTACT US</div>
       </div>
       <div class="col-sm-12 col-md-8 col-lg-8">
           <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)">
               <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
             </agm-map>
   
       </div>
     </div>
   </div>