
  <div class="container" >
      <div class="section_container">
        <h2 class="content_title">About Us</h2>
        <h4 class="content_subTitle">MJE Advisors is a premier executive search firm that strives to consistently deliver our clients exceptional professionals to meet the ever-changing hiring trends that shape our landscape.</h4>
        <p>We are a specialized firm of 5 professionals with affiliate offices nationwide focusing on the investment management industry.  Our search engagements expand throughout the alternative and traditional space with a core expertise among the following practice areas:
        </p>
        <div class="container list_container" >
              <div class="row no-gutters">
                  <div class="col-6">
                      <ul>
                        <li>Sales & Marketing</li>
                        <li>Client Service & Relationship Management</li>
                        <li>COO, CFO, Controller</li>
                        <li>Fund Accounting & Middle Office</li>
                      </ul>

                  </div>
                  <div class="col-6">
                      <ul>
                          <li>Risk Management & Compliance</li>
                          <li>Portfolio Managers & Analyst</li>
                          <li>Investment Audit, Tax & Advisory</li>
                          
                        </ul>
                  </div>
              </div>
        </div>
        <p>MJE Advisors was founded in 1993 by Barry Emen, an executive search veteran with over 25 years experience in the industry. His vision of creating a world class executive search business through entrepreneurial ideas and an uncompromising commitment to our clients has been fully realized.  Our team has successfully placed more than 1,000 executives within the investment management industry and has developed an extensive network of more than 12,000 relationships worldwide.</p>
      
        <p style="margin-top:30px; margin-bottom: 30px;">MJE’s senior members have more than 40 years of combined industry and search related experience.  We successfully manage a wide variety of searches by leveraging our intellectual knowledge base, proprietary database, deep industry contacts and firm-wide collaboration.</p>
      </div>
  </div>
