<div class="row no-gutters" style="height:100vh">
    <div class="col-12">
        <div class="parallax" >
            <div class="home_header">
                <!-- <h1 class="home_header_title">Unrivaled Industry Insight.</h1> -->
                <h1 class="home_header_title">Your Dedicated Search Partner.</h1>
                <!-- <h2 class="home_header_subtitle">Investment Industry Executive Search</h2> -->
                <h2 class="home_header_subtitle">Asset Management Executive Search Solutions.</h2>

                <div> <i  style="position:relative; top:275px; color:white; font-size:100px;" class="fa fa-angle-down" aria-hidden="true"></i>
                </div> 
               
            </div>
        </div>
    </div>
</div>
<div style="height:800px;" class="row no-gutters">
        <div class="col-12">
            <app-what-we-do></app-what-we-do>
        </div>
</div>

<div class="row no-gutters">
        <div class="col-12">
            <app-our-capabilities></app-our-capabilities>
        </div>
</div>


    

<div class="row no-gutters"  style="margin-top: 40px;">
    <div class="col-12">
        <app-core-expertise></app-core-expertise>
    </div>
</div>

<div class="row no-gutters" style="margin-top: 60px;">
        <div class="col-12">
            <app-our-reach></app-our-reach>
        </div>
</div>



<div class="row no-gutters" >
        <div class="col-12">
           <a name="Team"></a>    
            <app-team></app-team>
            
        </div>
</div>
    


<div class="row no-gutters" >
        <a name="contact"></a>
        <div class="col-12">
            <app-contactus></app-contactus>
        </div>
</div>
   
