.parallax { 
    /* The image used */
    background-image: url("/assets/mjeimage1.jpg");

    /* Set a specific height */
    height: 550px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_two { 
    /* The image used */
    background-image: url("/assets/mjeimage8.jpg");

    /* Set a specific height */
    height: 200px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_three { 
    /* The image used */
    background-image: url("/assets/mjeimage5.jpg");

    /* Set a specific height */
    height: 200px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_header {
    padding: 11.3875rem calc(50vw - 473px) 11.3875rem;
    text-align: left;
    position: relative;
    /* background: rgba(0,0,0,.3); */
}

.home_header_title {
    color: #fff;
    text-shadow: 0.1875rem 0.1875rem 0.1875rem rgba(0,0,0,.5);
    font-size: 3.25rem;
    line-height: 4.4375rem;
    margin-bottom: .375rem;
    font-weight: 700;
    font-family: Avenir;
}

.home_header_subtitle {
    color: #fff;
    text-shadow: 0.1875rem 0.1875rem 0.1875rem rgba(0,0,0,.5);
    font-size: 1.25rem;
    line-height: 0.4375rem;
    margin-bottom: .375rem;
    font-weight: 700;
    font-family: Avenir;
}

