<div class="row">
    <div class="col-12">
        <div class="parallax" >
            <div class="home_header">
                <!-- <h1 class="home_header_title">Unrivaled Industry Insight.</h1> -->
                <h1 class="home_header_title">Search made easy.</h1>
                <!-- <h2 class="home_header_subtitle">Investment Industry Executive Search</h2> -->
                <h2 class="home_header_subtitle">Unrivaled Industry Insight. Sophisticated Matching Technology. And a Personalized Approach.</h2>
            </div>
        </div>
    </div>
</div>
<div class="row"  style="margin-top: 40px;">
    <div class="col-12">
        <app-why-mje></app-why-mje>
    </div>
</div>

<div class="row" style="margin-top: 100px;">
    <div class="col-12">
        <div class="parallax_two" >
            <div class="home_header">
                <!-- <h1 class="home_header_title">Unrivaled Industry Insight.</h1> -->
                <!-- <h1 class="home_header_title">Search made easy.</h1> -->
                <!-- <h2 class="home_header_subtitle">Investment Industry Executive Search</h2> -->
                <!-- <h2 class="home_header_subtitle">Unrivaled Industry Insight. Sophisticated Matching Technology. And a Personalized Approach.</h2> -->
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 60px;">
    <div class="col-12">
        <app-our-business></app-our-business>
    </div>
</div>

<div class="row" style="margin-top: 100px;">
    <div class="col-12">
        <div class="parallax_three" >
            <div class="home_header">
                <!-- <h1 class="home_header_title">Unrivaled Industry Insight.</h1> -->
                <!-- <h1 class="home_header_title">Search made easy.</h1> -->
                <!-- <h2 class="home_header_subtitle">Investment Industry Executive Search</h2> -->
                <!-- <h2 class="home_header_subtitle">Unrivaled Industry Insight. Sophisticated Matching Technology. And a Personalized Approach.</h2> -->
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 60px;">
    <div class="col-12">
        <app-aboutus></app-aboutus>
    </div>
</div>