<div class="row no-gutters">
  <div class="col-sm-12 col-md-12 col-lg-12">
    
      <div class="container section_container" style="margin-bottom: 0px;">
          <h2 class="content_title">OUR REACH</h2>
      </div>

      <div id="mapDiv" [style.width.%]="100" [style.height.px]="800"></div>
     
    <!-- <agm-map  usePanning="true"  [zoom]="zoom" [styles]="styles" [mapDraggable]="mapDraggable"  [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)" [scrollwheel]="scrollwheel" [zoomControl]="zoomControl"
    
    [disableDefaultUI] = "false"
    (mapClick)="mapClicked($event)"
    >
    
      <agm-marker  *ngFor="let m of locations; let i = index;" (markerClick)="clickeMarker(m, i)" [longitude]="m.long" [latitude]="m.lat" >
          <agm-info-window>
            <strong> -------- THE KINGS CASTLE -------</strong>
          </agm-info-window>

      </agm-marker>
     
    </agm-map> -->
      
  
  </div>
  
</div>
