.navItemLogo {
    color: #463e3b;
    font-size: .95rem;
    line-height: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
}

.navBar {
    background-color: #fff;
    height: 70px;
    border-top: 3px solid #464342;
    border-bottom: 1px solid #464342;
}
