agm-map {
    height: 800px;
   
}
agm-marker{
    color:white;
    background-color: white;
}

.section_container {
    margin-left: 217px;
    margin-top: 30px;
    background-color: #242F3D;
    color: rgb(250, 248, 246);
    position: relative;
    width: 200px;
    top: 8px;
    padding-bottom: 7px;
    padding-top: 10px;
    font-family: Avenir;
    text-align: center;
}
.content_title{
    font-size: 1.5rem;
   
}

.content_sub_subTitle {
    font-family: Avenir;
    color: #336699;
    font-size: 15px;
}

/* amcharts-description-div */
/* .amcharts-description-text-div {
    background-color: white;
    border: solid;
} */

.ammapDescriptionWindow {
    border: 5px solid rgba(0, 0, 0, 1) !important;
    border-radius: 4px !important;
    max-width: 190px !important;
    background: rgba(255, 255, 255, 0.8) !important;
    padding: 10px !important;
  }
  

