
  <div class="container" >
      <div class="section_container">
        <h2 class="content_title">Our Business</h2>
        <h4 class="content_subTitle">MJE Advisors is a leading provider of executive search for the investment management industry with over 40 years of combined experience among our professional team.  We work closely with our clients to develop customized recruiting solutions and help them acquire the key human capital needed to grow their business.</h4>
        <p>We are a privately owned firm with relationships throughout North America and the United Kingdom covering all major sub sectors of the investment management industry.  We leverage our collective expertise to identify and deliver only the highest quality professionals who help support the growth and success of our clients.

        </p>
        <p>Our Clients Include:</p>
        <div class="container list_container" >
        
              <div class="row no-gutters">
                  <div class="col-6">
                  <p><span>Investment Management Firms</span></p>
                      <ul>
                        <li>Mutual Funds</li>
                        <li>Hedge Funds</li>
                        <li>Funds of Funds</li>
                        <li>Institutional Investment Managers</li>
                      </ul>

                  </div>
                  <div class="col-6">
                    <p><span>Investment Industry Service Providers</span></p>
                      <ul>
                          <li>Fund Administrators</li>
                          <li>Banks & Prime Brokers</li>
                          <li>Accounting & Law Firms</li>
                          <li>Technology and Other Service Providers</li>
                          
                        </ul>
                  </div>
              </div>
        </div>
         <p>Our Specific Areas of Expertise Include:</p>
         <div class="container list_container" >
              <div class="row no-gutters">
                  <div class="col-12">
                    
                      <ul>
                        <li>Senior Operations & Administrative Executives</li>
                        <li>Sales, Marketing and Relationship Management Executives</li>
                        <li>Portfolio Managers</li>
                        <li>Investment Analysts</li>
                        <li>Risk Managers</li>
                        <li>Legal & Compliance Professionals</li>
                      </ul>
                  </div>   
              </div>
        </div>
        <p>Our success over the past 20 years is attributable to the high quality of our people and a unique combination of specialization and team integration. This allows us to most efficiently identify candidates who possess the right skills, experience and cultural fit to provide a positive and lasting impact on our clients’ business structure.</p>
        <ul>
          <li><span>Industry Relationships:</span> Through our efforts, we have established deep relationships with executive level professionals across mutual funds, hedge funds, hedge funds of funds, industry service providers, banks and other financial firms.</li>
          <li><span>Integrated Team Approach:</span> MJE fully leverages our intellectual knowledge base through our proprietary database, deep industry contacts and firm-wide collaboration to identify and develop high quality professionals.</li>
          <li><span>Candidate In-flows:</span> On behalf of our clients, we continually refresh our candidate pool with high quality professionals who are open to new challenges and responsibilities.</li>
          <li><span>Evaluation:</span> Our senior recruiters have interviewed and partnered with thousands of investment industry executives and provide an informed and detailed description of their professional attributes when advising clients on selecting the right talent.</li>
        </ul>

        <p>We consider candidate growth and retention to be a key measure of our long-term success as the majority of our placed professionals assume leadership positions within the first few years of a completed assignment.  As a firm we strive to provide the highest quality of client service and through our efforts have built a favorable reputation throughout the investment management industry.</p>
      </div>
  </div>
