.content_title{
    font-family: Avenir;
    color: #336699;
}
.content_subTitle{
    font-family: Avenir;
    margin-top:30px;
    margin-bottom:30px;
}
.section_container {
    margin-top:30px;
}
.list_container {
    max-width:800px; 
    border-style: 0.5px solid; 
    border-color: gray; 
    background: rgba(30,100,181,.21);
    margin-top:30px;
    margin-bottom:30px;
    padding:20px;
}
li {
    margin-bottom: 10px;
}
span {
    font-weight: bold;
    font-style:italic;
}


