<div class="team_container">
  <h2 class="team_title">TEAM</h2>
  <div class="container">
    <div class="row" style="margin-top:40px;">
      <div class="col" style="display:flex;">
          <div class="office_name">New York</div>
            <div class="container" style="display:flex;">
                <div class="image_wrapper" style="margin-left: 50px;">
                    <div id="barry"></div>
                    <div class="name_label">Barry Emen</div>
                </div>
                <div class="image_wrapper">
                    <div id="meg"></div>
                    <div class="name_label">Meg Myers</div>
                </div>
                <div class="image_wrapper">
                    <div id="sarah"></div>
                    <div class="name_label">Sarah Myers</div>
                </div>
                <div class="image_wrapper">
                    <div id="frank"></div>
                    <div class="name_label">Frank Carr</div>
                </div>
            </div>
      </div>
    </div>
     
  </div>
</div>
