
<div class="row no-gutters">
   
  <div class="col" >
      <div class="contact_us">

          <div><h2 style="padding-top: 50px;">CONTACT</h2></div>
         
      </div>
  </div>
</div>



<div class="container" style="margin-top: 100px; margin-bottom: 50px; ">
    <a name="linkToEmail"> <h2 style="font-family:Avenir;"></h2> </a> 
     <div class="row no-gutters" style="margin-top:30px;">
       <div class="col-sm-12 col-md-4 col-lg-4">
            <h2>New Jersey</h2>
            <p>17 Hanover Rd. Suite 240<br>
              Florham Park, NJ 07932<br>
              973-765-9400<br>
              Fax: 973-765-0881
            </p>

                 <!-- <div (click)="openDialog()" class="contact_button">CONTACT US</div> -->
       </div>
       <div class="col-sm-12 col-md-8 col-lg-8">
           <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)">
               <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
             </agm-map>
   
       </div>
     </div>
   </div>