<div class="team_container">
 
  <div style="align-self: center;" class="container">
      <h1 class="team_title">TEAM</h1>
    <div class="row" style="display:flex; margin-top:20px;">
      <div class="col" style="display:flex; align-self:center;">
          <!-- <div class="office_name">New York</div> -->
            <div class="container" style="display:flex;">
                <div class="image_wrapper" style="margin-left: 50px;">
                    <div id="barry" (click)="openDialog(0)"></div>
                    <div class="name_label">Barry Emen</div>
                </div>
                <div class="image_wrapper" >
                        <div id="sean" (click)="openDialog(1)"></div>
                        <div class="name_label">Sean Myers</div>
                    </div>
                
            </div>
      </div>
    </div>
    <div class="row">
        <div class="col"  style="display:flex; align-self:center;">
               
            <div class="container" style="display:flex;">
               
                <div style="margin-left: 50px;" class="image_wrapper">
                    <div id="meg" (click)="openDialog(1)" ></div>
                    <div class="name_label">Meg Weyer</div>
                </div>
                <div class="image_wrapper">
                    <div id="sarah" (click)="openDialog(2)"></div>
                    <div class="name_label">Sarah Carney</div>
                </div>
               
                <div class="image_wrapper">
                    <div id="frank" (click)="openDialog(3)"></div>
                    <div class="name_label">Frank Carr</div>
                   
                </div>
                
            </div>
            
        </div>
    </div>
   
  </div>
</div>
